@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Proyecto_Estructuras.Models.paciente>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Centro general Vacunacion Covid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RegistroVacunado">Vacunados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registrar">Registrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Buscar">Buscar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Editar">Editar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Espera">Lista de Espera</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Download">Descargar Reportes</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Configuracion">Configuracion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<table class="table" cellpadding="0" cellspacing="0">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DPI_CUI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio_residencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridad)
            </th>
        </tr>
    </thead>
    @if (Model != null)
    {

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DPI_CUI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Municipio_residencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Prioridad)
                    </th>
                </tr>
            }
        </tbody>
    }
</table>
